<div class="card mb-4 shadow-sm border-0">
  <div class="card-body">
    {{!-- mini profile --}}
    <div class="d-flex align-items-center mb-3">
      <img
        src="{{userImage}}"
        alt="Avatar"
        class="rounded-circle me-3"
        style="width: 40px; height: 40px; object-fit: cover; cursor: pointer;"
        onclick="location.href='/{{userName}}'"
      />
      <div>
        <h6
          class="card-title mb-0 fw-bold"
          style="cursor: pointer;"
          onclick="location.href='/{{userName}}'"
        >
          {{userName}}
        </h6>
        <small class="text-muted">{{timeExpectation createdAt}}</small>
      </div>
    </div>
    {{!-- text --}}
    <p class="card-text">{{text}}</p>
    {{!-- image --}}
    {{#if threadImage}}
    <div class="mb-3">
      <img 
        src="{{threadImage}}" 
        alt="Thread Image" 
        class="img-fluid rounded" 
        style="max-height: 300px; object-fit: cover;" 
      />
    </div>


    {{/if}}
    {{!-- button --}}
    <div class="d-flex justify-content-start gap-3">
      <button
        class="btn btn-outline-secondary btn-sm d-flex align-items-center"
      >
        <i class="bi bi-heart me-1"></i>
        {{totalLikes}}
      </button>

      <a href="/{{userName}}/{{id}}" class="btn btn-outline-secondary btn-sm d-flex align-items-center">Comment</a>
    </div>
  </div>
</div>


