<div class="card mb-4 shadow-sm border-0">
  <div class="card-body">
    {{!-- mini profile --}}
    <div class="d-flex align-items-center mb-3">
      <img
        src="{{userImage}}"
        alt="Avatar"
        class="avatar avatar--small avatar--round avatar--clickable rounded-circle me-3"
        onclick="location.href='/{{userName}}'"
      />
      <div>
        <h6
          class="card-title mb-0 fw-bold text--clickable"
          onclick="location.href='/{{userName}}'"
        >
          {{userName}}
        </h6>
        <small class="text-muted">{{timeExpectation createdAt}}</small>
      </div>
    </div>
    {{!-- text --}}
    <p class="card-text">{{text}}</p>
    {{!-- image --}}
    {{#if threadImage}}
    <div class="mb-3">
      <img
        src="{{threadImage}}"
        alt="Thread Image"
        class="blog__image img-fluid rounded"
      />
    </div>


    {{/if}}
    {{!-- button --}}
    <div class="d-flex justify-content-start gap-3">
      <a
        href="javascript:void(0);"
        role="button"
        class="btn btn-outline-secondary btn-sm d-flex align-items-center {{#if liked}}liked{{/if}}"
        id="{{id}}"
        onclick="likeThread({{id}}, {{currentID}})"
      >
        <i class="bi bi-heart{{#if liked}}-fill{{/if}} me-1"></i>
        {{totalLikes}}
      </a>
      <a href="/{{userName}}/{{id}}" class="btn btn-outline-secondary btn-sm d-flex align-items-center">Comment</a>
    </div>
  </div>
</div>


