<li
  class="list-group-item d-flex justify-content-between align-items-center shadow-sm rounded mb-2 p-3 hover-card"
>
  <div class="d-flex align-items-center">
    <img
      src="{{imagePath}}"
      alt="Avatar"
      class="rounded-circle me-3"
      style="width: 40px; height: 40px; object-fit: cover; cursor: pointer;"
      onclick="location.href='/{{userName}}'"
    />
    <div>
      <strong>{{firstName}} {{lastName}}</strong><br />
      <small>{{userName}} </small>
    </div>
  </div>
  <div>
    <a
      href="/{{userName}}"
      class="btn btn-outline-secondary btn-sm me-2"
      onclick="event.stopPropagation();"
    >
      View
    </a>
 
    <a
      href="#"
      role="button"
      class="btn btn-outline-secondary btn-sm {{#if isFollowed}}isFollowed{{/if}}"
      id="{{userName}}"
      aria-pressed="{{#if isFollowed}}true{{else}}false{{/if}}"
      onclick="followHandle('{{userName}}'); return false;"
    >
      {{#if isFollowed}}Unfollow{{else}}Follow{{/if}}
    </a>


  </div>
</li>

<script src="/js/22127181.js"></script>
