<li
  class="list-group-item d-flex justify-content-between align-items-center shadow-sm rounded mb-2 p-3 hover-card"
>
  <div class="d-flex align-items-center">
    <img
      src="{{imagePath}}"
      alt="Avatar"
      class="rounded-circle me-3"
      style="width: 40px; height: 40px; object-fit: cover; cursor: pointer;"
      onclick="location.href='/{{userName}}'"
    />
    <div>
      <strong class="truncate">{{firstName}} {{lastName}}</strong><br />
      <small class="truncate">{{userName}}</small>
    </div>
  </div>
  <div class="btn-container">
    <a
      href="/{{userName}}"
      class="btn btn-outline-secondary btn-sm me-2"
      onclick="event.stopPropagation();"
    >
      View
    </a>
 
    <a
      href="#"
      role="button"
      class="btn btn-outline-secondary btn-sm {{#if isFollowed}}isFollowed{{/if}}"
      id="{{userName}}"
      aria-pressed="{{#if isFollowed}}true{{else}}false{{/if}}"
      onclick="followHandle('{{userName}}'); return false;"
    >
      {{#if isFollowed}}Unfollow{{else}}Follow{{/if}}
    </a>
  </div>
</li>

<style>
    /* Truncate long names */
    .truncate {
        white-space: nowrap; /*prevent the text from wrapping to the next line */
        overflow: hidden; /* Hide any overflow text */
        text-overflow: ellipsis; /* ellipsis (...) to the truncated text */
        max-width: 150px; 
    }

    /* Responsive adjustments for small screens */
    @media (max-width: 768px) {
        .truncate {
            max-width: 100px; /* Reduce the width on smaller screens */
        }
    }

    /* Buttons alignment */
    .btn-container {
        display: flex;
        align-items: center;
        gap: 4px; 
    }
</style>


<script src="/js/22127181.js"></script>
